<%= link_to 'GO TO ANOTHER PAGE', new_post_path %>

<p id="demo"></p>

<button id="click-me">Try It</button>

<script>
  document.addEventListener('turbolinks:load', function() {
    var clickButton = document.getElementById('click-me')
    var demo = document.getElementById('demo')

    if (clickButton) {
      clickButton.addEventListener('click', function() { getLocation() })
    }

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition)
      } else {
        demo.innerHTML = "Geolocation is not supported by this browser."
      }
    }

    function showPosition(position) {
      var coords = position.coords
      demo.innerHTML = 'Latitude: ' + coords.latitude + ' <br>Longitude: ' + coords.longitude
    }
  })
</script>
